.UsersList {
  margin: 30px 0 30px;

  table {
    width: 100%;

    th {
      font-weight: 500;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      padding: 10px 0;
      line-height: 19px;
      vertical-align: middle;
    }

    td {
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      padding: 10px 0;
      line-height: 19px;
      vertical-align: middle;
    }
  }
}
