@import "../../css/styleVariables";

.ProfilePage {
  padding: 50px 0 50px;

  .SiteWrap {
    @include site-wrap;
  }

  .Forms {
    display: flex;

    .FormContainer {
      margin: 0 80px 0 0;

      h2 {
        margin: 0 0 20px;
        font-weight: 500;
      }

      form {
        width: 350px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
